*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#ffffff;
    padding:40px;
}
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(30px);
    margin-left: 38px;
    opacity: 0.98; 
}
.hero{
    width:100%;
    min-height:150vh;
    border-radius:5px;
    padding:100px 50px;
    color:white;
    background:
    radial-gradient(circle at top left,
    rgba(61, 52, 109, 0.9),
    transparent 55%),

    radial-gradient(circle at center,
    rgba(255,0,221,0.5),
    transparent 90%),

    radial-gradient(circle at bottom right,
    rgba(0,255,255,0.4),
    transparent 45%),

    linear-gradient(135deg,#121425,#181a2f,#121425);

}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:70px;
}

.logo{
    display:flex;
    align-items:center;
    gap:10px;
}

.logo i{
    color:#5de1ff;
    font-size:22px;
}

.logo h2{
    font-size:42px;
    font-weight:700;
}

.logo span{
    color:#66d9ff;
}
.top-btn{
    border:none;
    padding:14px 32px;
    border-radius:30px;
    font-size:16px;
    font-weight:600;
    color:white;
    background:linear-gradient(to right,#4f7cff,#3df0ff);
    cursor:pointer;
}
.top-btn{
    padding: 17px 45px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.3s ease;
}
.top-btn:hover{
    transform: scale(1.05);
    box-shadow:
    0 0 15px rgba(97,255,229,0.5),
    0 0 30px rgba(79,124,255,0.4);
    filter: brightness(115%);
}

.main-btn{
    margin-top:35px;
    border:none;
    padding:16px 40px;
    border-radius:40px;
    font-size:18px;
    font-weight:600;
    color:white;
    background:linear-gradient(to right,#8f7bff,#76f7ff);
    cursor:pointer;
    box-shadow:0 0 20px rgba(255,255,255,0.15);
}
.main-btn{
    padding: 17px 45px;
    border-radius: 30px;
    cursor: pointer;
    transition:  0.3s ease;
}
.main-btn:hover{
    transform: scale(1.1);
    box-shadow:
    0 0 15px rgba(97,255,229,0.5),
    0 0 30px rgba(79,124,255,0.4);
    filter: brightness(115%);
}

.hero-content{
    text-align:center;
    max-width:900px;
    margin:auto;
}

.hero-content h1{
    font-size:90px;
    line-height:100px;
    font-weight:800;
    margin-bottom:25px;
}

.hero-content p{
    max-width:700px;
    margin:auto;
    font-size:28px;
    line-height:45px;
    color:#d9d9e6;
}

.cards{
    display:flex;
    gap:30px;
    margin-top:120px;
}

.card{
    flex:1;
    padding:40px 30px;
    border-radius:30px;
    background:rgba(255,255,255,0.05);
    border:1px solid rgba(255,255,255,0.08);
    backdrop-filter:blur(10px);
    border-radius: 24px;
    transition:  0.4s ease;
}
/* ======================hover=============== */
.card:hover{
    transform: translateY(-20px);
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.25);
    box-shadow:
        0 0 20px rgba(255,255,255,0.08),
        0 0 40px rgba(192,71,198,0.15);
    cursor: pointer;
}

.icon-box{
    width:65px;
    height:65px;
    border-radius:18px;
    display:flex;
    justify-content:center;
    align-items:center;
    background:rgba(255,255,255,0.08);
    margin-bottom:30px;
}

.icon-box i{
    font-size:26px;
    color:#74f6ff;
}

.card h3{
    font-size:36px;
    margin-bottom:20px;
    font-weight:700;
}

.card p{
    font-size:22px;
    line-height:38px;
    color:#d4d6e4;
}

.footer{
    margin-top:120px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-top:1px solid rgba(255,255,255,0.1);
    padding-top:30px;
}

.footer p{
    color:#d2d5e2;
    font-size:18px;
}

.footer-links{
    display:flex;
    gap:35px;
}

.footer-links a{
    color:#d2d5e2;
    text-decoration:none;
    font-size:18px;
}