*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{

    background:#f4f4f4;

    display:flex;

    justify-content:center;

    align-items:center;

    min-height:100vh;
}

.container{

    width:700px;

    background:white;

    padding:30px;

    border-radius:15px;

    box-shadow:0 0 15px rgba(0,0,0,.2);
}

h1{

    text-align:center;

    color:#d62828;

    margin-bottom:25px;
}

.box{

    margin-bottom:25px;
}

.box h2{

    margin-bottom:10px;

    color:#333;
}

button{

    padding:10px 20px;

    margin-right:10px;

    border:none;

    border-radius:8px;

    background:#ddd;

    cursor:pointer;

    font-size:16px;

    transition:.3s;
}

button:hover{

    background:#d62828;

    color:white;
}

.active{

    background:#d62828;

    color:white;
}

select{

    width:100%;

    padding:12px;

    border-radius:8px;

    font-size:16px;
}

label{

    display:block;

    margin:8px 0;

    font-size:17px;
}

input[type="checkbox"]{

    margin-right:10px;
}

.receipt{

    margin-top:30px;

    background:#fafafa;

    padding:20px;

    border-radius:10px;

    border:1px solid #ddd;
}

.receipt h2{

    color:#d62828;
}

.receipt p{

    margin:15px 0;

    font-size:18px;
}

hr{

    margin:15px 0;
}